.cart {
  border-radius: var(--border-radius);
  padding: 3%;
  font-size: 1.1vw;
  height: 50%;
  height: 55vh;
  overflow: auto;
}

.cart h1 {
  font-size: 1.5vw;
  font-weight: 600;
  margin-bottom: 2vh;
}

.cart ul {
  width: 30vw;
}

.cart picture {
  width: 30%;
}

.cart img {
  max-width: 100%;
  border-radius: var(--border-radius);
}

.cart button {
  border: none;
  background: transparent;
  font-size: 1vw;
  cursor: pointer;
}

.cart_header {
  width: 100%;
  margin-bottom: 3%;
}

.cart_header .fa-xmark{
  font-size: 1.3vw;
}

.cart_item_wrapper {
  padding: 5%;
}

.cart_item_wrapper > * {
  margin: 0 3%;
}

.cart_item_wrapper .cart_item_detail h3 {
  margin-bottom: 0;
  font-size: 1.3vw;
  font-weight: 600;
}
.cart_item_wrapper .cart_item_detail .fa-xmark {
color: var(--grey-text);
}

.cart_item_wrapper .cart_item_detail .cart_category {
  color: var(--grey-text);
}

.cart_item_wrapper .cart_item_detail .cart_color {
  margin: 3% 0;
}

.cart_item_wrapper .cart_item_detail .cart_subprice {
  font-weight: 600;
}

.cart_item_wrapper .cart_item_detail .quantity_button {
  width: fit-content;
}

.cart_item_wrapper .cart_item_detail .quantity_button > * {
  margin: 0 2%;
}

.cart_item_wrapper .cart_item_detail .quantity_button button {
  font-size: 1.3vw;
  font-weight: 600;
}

.cart_item_wrapper .cart_item_detail .quantity_button input[type="text"] {
  text-align: center;
  border: none;
  width: 20%;
  border-bottom: 1px solid black;
}


.cart_total h2 {
  font-weight: 600;
  margin-bottom: 1.5vh;
}

.cart_total p {
  color: var(--grey-text);
  font-size: 1vw;
  margin-bottom: 4vh;
}

.cart_total .btn {
  background-color: var(--black-text);
  color: white;
}

/* Hiding scrollbar */
.cart::-webkit-scrollbar {
  display: none;
}

.cart {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.empty_cart {
  width: 20vw;
}

.empty_cart > * {
  margin: 4vh 0;
}

.empty_cart h1,
.empty_cart p {
  font-weight: 600;
}

.empty_cart p {
  font-size: 1.75vw;
}

.empty_cart .btn {
  background-color: var(--purple);
  color: white;
}

/* Checkout Modal */
.checkout_modal {
  width:40vw;
}

.checkout_modal h1 {
  font-size: 2vw;
  font-weight: 600;
}

.checkout_modal h2 {
  font-size: 1.75vw;
  font-weight: 600;
}