.product_wrapper {
  grid-template-columns: 55vw 30vw;
  gap: 5vw;
  margin: 30vh 0 10vh 0;
  padding: 0 5vw;
  color: white;
}

.product_details_wrapper {
  margin-top: 6vw;
  font-weight: 600;
}

.product_details_wrapper h1 {
  font-size: 2.6vw;
  margin-bottom: 2vh;
}

.product_details_wrapper h2 {
  font-size: 1.5vw;
  margin-bottom: 8vh;
}

.product_details_wrapper h3 {
  font-weight: 400;
}

.product_details_wrapper p {
  font-size: 1.1vw;
  margin-bottom: 8vh;
}

.product_details_wrapper .btn {
  width: 100%;
  margin-top: 8vh;
}

.product_details_wrapper .atc_area p {
  font-weight: 200;
  font-size: 1vw;
  margin-top: 5vh;
}

.product_details_wrapper .atc_area svg {
  height: 1.5vh;
  padding: 1vh .75vw;
  border: 0.5px white solid;
  border-radius: .5vw;
  margin: 0 .5vw;
}


/* Product Images CSS */
.product_img_gallery {
  width: 55vw;
  grid-template-columns: repeat(2, 1fr);
  gap: 2vw;
  max-height: 1300px;
}

.product_img_gallery .image_wrapper img {
  width: 100%;
  border-radius: var(--border-radius);
}


/* Product Color CSS */
.product_color_wrapper h3 {
  margin-bottom: 3vh;
}

.product_color_wrapper li {
  width: 6vw;
}

.product_color_wrapper img {
  cursor: pointer;
  border-radius: 10%;
  position: relative;
  max-width: 80%;
}

.product_color_wrapper img:hover {
  transform: scale(.9);
  transition: .1s ease-in;
}

.product_color_wrapper img:selected {
  border: 1px solid rgba(255, 255, 255);
  /* padding: 2px; */
}


/* Product Size CSS */
.product_size_wrapper {
  margin-top: 7vh;
}

.product_size_wrapper > div {
  margin-bottom: 3vh;
}

.product_size_wrapper p {
  border-bottom: 2px solid white;
  padding: 2px 0;
  margin-bottom: 0;
  cursor: pointer;
}

.product_size_wrapper ul {
  flex-wrap: wrap;
}

.product_size_wrapper ul > li {
  margin: 1%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product_size_wrapper label {
  border: 1px solid rgba(255, 255, 255, .4);
  width: 100%;
  text-align: center;
  padding: 10%;
  cursor: pointer;
  border-radius: 1vw;
}

.product_size_wrapper label:hover {
  border: 1px solid white;
}

.product_size_wrapper input[type="radio"],
.product_color_wrapper input[type="radio"] {
  opacity: 0;
  width: 0;
}

.product_size_wrapper input:checked + label {
  background-color: white;
  color: var(--grey-text);
}

/* Product Size Modal CSS */
.size_modal {
  width: 50vw;
  padding: 5vh;
  padding-left: 5vw;
  padding-right: 5vw
}

.size_modal h1 {
  font-size: 1.6vw;
  margin-bottom: 5vh;
  font-weight: 600;
}

.size_modal table {
  text-align: center;
  width: 100%;
}


.size_modal table th {
  color: white;
  background-color: #1a1a1a;
}

.size_modal table th,
.size_modal table td {
  padding: 1.5vh;
}

.size_modal table tr:nth-child(odd) {
  background-color: #e1e1e1;
}


/* Product Accordion CSS */
.product_accordion {
  width: 30vw;
  margin-top: 7vh;
}

.product_accordion > div {
  background: transparent;
  height: 50%;
  box-shadow: none;
  border-top:1px solid rgba(255, 255, 255, .2);
  border-bottom:1px solid rgba(255, 255, 255, .2);
  color: white;
}

.product_accordion svg {
  color: white;
}

.product_accordion .accordion_title {
  margin-bottom: 0;
  padding: 2vh 0;
  font-size: 1.3vw;
}

.product_accordion .accordion_details {
  display: inline;
}

.product_accordion .accordion_details > * {
  margin: 3vh 0;
  overflow: hidden;
  transition: height 0.66s ease-out;
}

.product_accordion .accordion_details em {
  font-size: 1.2vw;
  margin-bottom: 1vh;
}