.login_modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
}

.login_modal_background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.login_modal_content {
  position: absolute;
  background-color:white;
  padding: 2%;
  border-radius: 10px;
}