footer {
  width: inherit;
  margin-top: 20vh;
}

footer .footer_content{
  padding: var(--vertical-edge) calc(var(--horizontal-edge) * 2);
  background: rgba(0, 0, 0, .15);
  line-height: 1.5;
}

footer,
footer h1,
footer a {
  color: white;
}

footer h1 {
  font-family: var(--reels-font);
  font-size: 500%;
  transform: rotate(-10deg);
  font-weight: bold;
}

footer .footer_links div {
  margin-bottom: 2vh;
}

footer .footer_links .footer_title {
  opacity: .8;
  font-weight: bold;
}

footer .footer_author .fa-brands {
  font-size: 4vw;
  margin: 2vh 1vw
}

footer .footer_author p {
  font-size: 80%;
}

footer .footer_author .fa-heart {
  color: #e04f84;
}