.splash_wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  z-index: -1;
  background-image: url(https://cdn.shopify.com/s/files/1/0146/8461/8806/files/updated-desktop_269ef8ee-21b1-43fd-80fc-44d989bacec6_2000x.jpg);
}

/* Hero CSS */

.hero {
  position: relative;
  top: var(--vertical-edge);
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
  overflow: hidden;
}

/* .hero .hero_text{
  margin-top: 15vh;
} */

.hero .hero_text h1,
.hero .hero_text p,
.hero .hero_text i,
.hero .hero_marquee p,
.hero .hero_marquee i {
  color: white;
}

.hero .hero_text h1 {
  font-size: 4vw;
  font-weight: bold;
  margin: 5% 0;
}

.hero .hero_text p {
  font-size: 2vw;
  margin: 5% 0;
}

.hero .hero_text p.hero_p {
  letter-spacing: 1vw; 
}

.hero .fa-regular {
  font-size: 25%;
}

.hero .hero_img {
  margin-top: 5vh;
  animation: rotate 7s ease infinite;
}

.hero .hero_img img{
  max-width: 45vw;
}

/* .hero .hero_marquee {
  position: absolute;
  overflow: hidden;
  bottom: 4vh;
  white-space: nowrap;
  width: fit-content;
}

.hero .hero_marquee .marquee_text_1,
.hero .hero_marquee .marquee_text_2 {
  display: inline-block;
  font-size: 13vw;
  font-weight: bold;
  letter-spacing: -1vw;
}

.hero .hero_marquee .marquee_text_1 {
  animation: marquee_1 10s linear infinite;
}

.hero .hero_marquee .marquee_text_2 {
  animation-delay: 10s;
  animation: marquee_2 10s linear infinite;
} */


/* Hero Animation */
@keyframes rotate {
  0% {
    transform: rotate(20deg);
  }

  50% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(20deg);
  }
}

/* @keyframes marquee_1 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee_2 {
  0% {
    transform: translateX(-10%);
  }

  100% {
    transform: translateX(-200%);
  }
} */


/* Category CSS */
.splash_category {
  background-color: white;
  padding: var(--vertical-edge) var(--horizontal-edge);
  border-radius: 4% 4% 0 0;
  padding-bottom: 10%;
}

.splash_category .text_content {
  margin: 5vh 7vw;
}

.splash_category .text_content .free {
  font-size: 5vw;
  font-weight: bold;
}

.splash_category .category_images {
  height: 50vh;
}

.splash_category .category_images a,
.splash_category .category_images .btn {
  cursor: pointer;
}

.splash_category .category_images picture {
  height: 50vh;
  position: relative;
}

.splash_category .category_images img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  border-radius: 2vw;
}

.splash_category .category_images .btn {
  position: absolute;
  left: 3vw;
  transform: translateY(650%);
  border: none;
  background-color: white;
  font-family: var(--body-font);
  font-size: 1.5vw;
  padding: 2.5vh 2vw;
  border-radius: 2vw;
}


/* Video CSS */
.splash_video {
  padding-top: 10%;
  background-color: white;
  grid-template-columns: 45% 35% 15%;
}