/* Hero CSS */

.hero {
  position: relative;
  top: var(--vertical-edge);
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
  overflow: hidden;
}

.hero .hero_text{
  margin-top: -30vh;
}

.hero .hero_text h1,
.hero .hero_text p,
.hero .hero_text i {
  color: white;
}

.hero .hero_text h1 {
  font-size: 4vw;
  font-weight: 600;
  margin: 5% 0;
}

.hero .hero_text p {
  font-size: 2vw;
  margin: 5% 0;
}

.hero .hero_text p.hero_p {
  letter-spacing: 1vw; 
}

.hero .hero_img {
  margin-top: 5vh;
  animation: rotate 7s ease infinite;
}

.hero .hero_img img{
  max-width: 45vw;
}

.hero .hero_marquee {
  position: absolute;
  bottom: -5vh;
}

/* Hero Animation */
@keyframes rotate {
  0% {
    transform: rotate(20deg);
  }

  50% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(20deg);
  }
}

/* Category CSS */
.splash_category {
  background-color: white;
  padding: var(--vertical-edge) var(--horizontal-edge);
  border-radius: 4% 4% 0 0;
  padding-bottom: 10%;
}

.splash_category .text_content {
  margin: 5vh 7vw;
}

.splash_category .text_content .free {
  font-size: 5vw;
  font-weight: 600;
}

.splash_category .category_images {
  height: 50vh;
}

.splash_category .category_images a {
  cursor: pointer;
}

.splash_category .category_images picture {
  height: 50vh;
  position: relative;
}

.splash_category .category_images img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  object-position: 10% -5%;
  border-radius: var(--border-radius);
}

.splash_category .category_images .btn {
  position: absolute;
  left: 3vw;
  transform: translateY(550%);
  font-size: 1.5vw;
}


/* Video CSS */
.splash_video {
  padding: 10% 5vw 10% 10vw;
  background-color: white;
  grid-template-columns: 30vw 40vw 5vw;
  gap: 5vw;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.splash_video .text_content {
  font-weight: 600;
  line-height: 1.5;
}

.splash_video .text_content > p {
  font-size: 1.1vw;
  letter-spacing: .3vw;
  color: var(--grey-text);
}

.splash_video .text_content > h2 {
  font-size: 5vw;
  line-height: 1;
  margin: 5vh 0;
}

.splash_video .text_content > h2 > i {
  font-size: 20%;
}

.splash_video .text_content .grid {
  grid-template-columns: repeat(2, 40% 60%);
  font-weight: 400;
}

.splash_video .text_content .grid  picture {
  background: var(--background-img);
  border-radius: var(--border-radius);
  margin-top: 5vh;
}

.splash_video .text_content .grid  picture img {
  width: 100%;
  animation: fall 5s ease infinite;
}

.splash_video .promotional_video video {
  width: 100%;
  height: 90%;
  border-radius: 2vw;
  object-fit: cover;
}


/* Video Animation */
@keyframes fall {

  50% {
    transform: translateY(8%);
  }

  100% {
    transform: translateY(0%);
  }
}


/* Pitch CSS */
.splash_pitch {
  padding: 5vw;
}

.splash_pitch .pic_content {
  width: 40vw;
}

.splash_pitch .pic_content .pic_container > * {
  margin-bottom: 1vw;
}

.splash_pitch .pic_content .pic_container:nth-child(odd) {
  margin-left: 10vw;
}

.splash_pitch .text_content {
  width: 50vw;
}

.splash_pitch .text_content .button_section {
  margin-top: 5vh;
}

.splash_pitch .text_content .button_section .btn:first-child {
  margin-right: 2vw;
}

.splash_pitch .text_content .button_section .btn:first-child > i {
  margin-right: 1vw;
}

.splash_pitch p {
  color: white;
  font-weight: 600;
  font-size: 3.5vw;
  line-height: 1.4;
  padding: 5vh 0;
}


/* Video Modal CSS */
.video_modal {
  width: 59vw;
  background-color: white;
}

.video_modal button {
  background: transparent;
  border: none;
  font-size: 2vw;
  cursor: pointer;
}

.video_modal video {
  width: 100%;
  border-radius: var(--border-radius);
}

.video_modal .fa-xmark {
  margin-bottom: 5vh;
}