.search_component {
  margin-top: 35vh;
  color: white;
}

.search_component h3 {
  font-weight: bold;
  letter-spacing: .4vw;
  font-size: 90%
}

.search_component .hero_marquee {
  margin: 20vh 0;
}

.search_bar_wrapper form {
  padding: 5% 10%;
  border: 1px solid white;
  border-radius: var(--border-radius);
}

.search_bar_wrapper input {
  background: transparent;
  border: none;
  font-family: Helvetica, 'FontAwesome', sans-serif;
  color: white;
  font-size: 1vw;
}

.search_bar_wrapper .fa-solid {
  font-size: 90%;
  margin-left: 5px;
}

.search_bar_wrapper input:focus {
  outline: none;
}

.search_bar_wrapper .search-clear {
  cursor: pointer;
}

/* Input placeholder color */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
}


/* Product Results */
.results_content h2 {
  margin: 3vh 0;
  font-size: 3vw;
  font-weight: bold;
  color: rgba(255, 255, 255, .85);
}

.results_content p {
  font-weight: bold;
  color: rgba(255, 255, 255, .85);
}

.results_content .results_item_container {
  margin-top: 15vh;
  gap: 2vw;
}

/* Responsive Listings */
@media (min-width: 600px) {
  .results_item_container {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (min-width: 900px) {
  .results_item_container {
    grid-template-columns: repeat(3, 1fr); 
  }
}

.search_buttons {
  margin-top: 3vh;
}

.search_buttons > * {
  width: 10vw;
  margin: 0 1vw;
}