<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta property="og:title" content="Reels" />
    <meta property='og:image' content="<%= image_url('reels/app/assets/images/splash_screenshot.jpg') %>"/>
    <meta property="og:description"
       content="A clone of an award-winning ecommerce site, called Rollies, where users can do online shopping and leave a review of products they bought.  This project utilized Rails and postgreSQL for the backend, React/Redux and CSS3 for the frontend.
      Reels is heavily focused on front-end animation and UI/UX design to mimic the original site which won a Site of The Day awards by awwwards.com."
    />
    <meta property="og:url"
       content="https://reels.onrender.com/"
    />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
