/* Header Section */

.header_navigation {
  margin: var(--vertical-edge) var(--horizontal-edge);
  height: 6vh;
  font-size: 1.1vw;
  font-weight: 600;
}

.header_navigation > div {
  width: calc(100vw / 3);
}

.header_navigation > div > * {
  color: white;
  margin: 0 2vw;
}

.header_navigation .fa-brands,
.header_navigation .fa-solid {
  font-size: 1.5vw;
  color: white;
  cursor: pointer;
  transition: 1s;
}

.header_navigation h1,
.header_navigation a {
  transition: 1s;
}

.header_navigation h1:hover {
  transform: scale(1.1);
  animation: bigger_logo 1s ease-in;
}

.header_navigation a:hover, 
.header_navigation .fa-brands:hover,
.header_navigation .fa-solid:hover {
  transform: scale(1.3);
  animation: bigger 1s ease-in;
}

.header_navigation h1 {
  font-family: var(--reels-font);
  color: white;
  font-size: 5vw;
  transform: rotate(-10deg);
}

.header_navigation h1 {
  font-family: var(--reels-font);
  color: white;
  font-size: 5vw;
  transform: rotate(-10deg);
}

@keyframes bigger_logo {
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes bigger {
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.3);
  }
}

/* Account Menu */
.account_content {
  display: none;
}

.account_menu:hover .account_content {
  display: block;
}


/* Profile Modal */
.profile_modal_container .profile_content {
  background-color: white;
  color: black;
  width: 20vw;
  padding: 2vw;
  position: absolute;
  right: 6vw;
  top: 13vh;
  font-family: var(--body-font);
  border-radius: var(--border-radius);
}

.profile_modal_container .profile_content h2 {
  font-size: 1.6vw;
  font-weight: 600;
}

.profile_modal_container .profile_content .fa-solid {
  color: black;
  font-size: 80%;
  cursor: pointer;
}

.profile_modal_container .profile_content .login_form > * {
  margin: 4% 0;
}

.profile_modal_container .profile_content .login_form label input {
  margin-top: 2%;
  padding: 4% 5%;
  border-radius: 5px;
  font-family: var(--body-font);
  border: 1px var(--grey-text) solid;
}

.profile_modal_container .profile_content .btn{
  color: white;
  background-color: var(--grey-text);
}

/* Cart Modal */

.cart_modal_login > * {
  margin: 3vh;
  text-align: center;
}

.cart_modal_login h1 {
  font-size: 1.5vw;
  font-weight: 600;
}

.cart_modal_login .account_button {
  background-color: var(--black-text);
  color: white;
  padding: 5%;
  font-size: 1.1vw;
  font-weight: 600;
  border-radius: var(--border-radius);
}

p.cart_number{
  background-color: white;
  color: var(--grey-text);
  padding: 2% 3.3%;
  border-radius: 50%;
}