/* Account Modal CSS */

.account_modal {
  background-color: white;
  padding: 2vh 1vw;
  border-radius: var(--border-radius);
  opacity: 90%;
  position: absolute;
  right: calc(var(--horizontal-edge) + 4.5vw);
  top: calc(var(--vertical-edge) + 5vh)
}

.account_modal > * {
  color: var(--grey-text);
  margin: 1vh 1vw;
  font-size: 1vw;
  font-weight: 600;
  font-family: var(--body-font);
  padding: 5%;
  border-radius: 10%;
}

.account_modal > *:hover {
  color: var(--black-text);
}


/* Login Form CSS */
.account_form_modal {
  width: 20vw;
  padding: 1.5vw;
}

.account_form_modal h1 {
  font-size: 1.5vw;
  margin-bottom: 5%;
  font-weight: 600;
}

.account_form_modal i {
  font-size: 1.5vw;
}

.account_form_modal form > label {
  margin: 5% 0;

}

.account_form_modal form > label input {
  margin-top: 2%;
  padding: 4% 5%;
  border-radius: 5px;
  font-family: var(--body-font);
  border: 1px var(--grey-text) solid;
}

.account_form_modal form > button {
  width: 100%;
  margin-top: 5%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--grey-text);
  -webkit-box-shadow: white;
}