/* Account Modal CSS */

.account_modal {
  background-color: white;
  padding: 2vh 1vw;
  border-radius: 15%;
  opacity: 90%;
  position: absolute;
  right: calc(var(--horizontal-edge) + 2.5vw);
  top: calc(var(--vertical-edge) + 3em)
}

.account_modal > * {
  color: var(--grey-text);
  margin: 1vh 1vw;
  font-size: 1vw;
  font-weight: bold;
  font-family: var(--body-font);
}


/* Login Form CSS */
.login_form_page {
  width: 20vw;
}

.login_form_page h1 {
  font-size: 1.5vw;
  margin-bottom: 5%;
  font-weight: bold;
}

.login_form_page i {
  font-size: 1.5vw;
}

.login_form_page form > label {
  margin: 5% 0;

}

.login_form_page form > label input {
  margin-top: 2%;
  padding: 4% 5%;
  border-radius: 5px;
  font-family: var(--body-font);
  border: 1px var(--grey-text) solid;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--grey-text);
  -webkit-box-shadow: white;
}

.login_form_page .login_button {
  background-color: var(--purple);
  padding: 2%;
  margin-top: 5%;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 1.2vw;
}

.login_button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}